html {
  background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
}

.App {
  text-align: center;
}
h1 {
  font-size: max(4vw, 35px);
  color: white;
  background-color: rgb(15, 119, 153);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form {
  margin-top: 50px;
}

#input {
  font-size: max(2vw, 22px);
}

.submit-btn {
  font-size: max(2vw, 22px);
  background-color:black;
  color: white
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe {
  /* // background-color: rgb(99, 161, 182); */
  background-color: rgb(15, 119, 153);
  color: white;
  margin-top: 30px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px white;

}

.calories {
  color: white;
  font-weight: bolder;
}

.ingredients {
  color: white;
}

.recipe-ingredients {
  width: 280px;
}

.recipe-details {
display: flex;
flex-direction: column;
align-items: center;
}

.pagination a {
  text-decoration: none;
  color:rgb(15, 119, 153)
}

.next-btn, .prev-btn {
  font-size: max(2vw, 22px);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

